# Add one or more [[devices]] entries here, for example:
#
# [[devices]]
# id = "ancell_bm200"
# type = "bm200"
# name = "Ancell BM200"
# mac = "A1:B2:C3:D4:E5:F6"
# enabled = true
# icon_key = "lead_acid_battery"
# [devices.battery]
# family = "lead_acid"
# profile = "regular_lead_acid"
# custom_soc_mode = "intelligent_algorithm"
