[[devices]]
id = "bm200_house"
type = "bm200"
name = "BM200 House"
mac = "AA:BB:CC:DD:EE:01"
enabled = true

[[devices]]
id = "bm300_van"
type = "bm300pro"
name = "BM300 Van"
mac = "AA:BB:CC:DD:EE:02"
enabled = false
